body{
 background-color: rgb(0, 0, 0);
 text-align: center;
}
h1 {
    font-style: italic;
    color: rgb(59, 108, 214);
    font-size: larger;
}
h2 {
    color: rgb(0, 0, 0);
    font-weight:200;
}

.imagem {
    width: 50%;
}
.imagem2 {
 width: 40%;
}
.lista {
    text-align: left;
    color: rgba(43, 46, 226, 0.598);
}
.pizza {
    color:blue;
}